html {
	/* Background */
	--c-bg: white;
	--c-bg-contrast-1: #f3f4f5;
	--c-bg-contrast-2: #d5dbdf;
	--c-bg-error: #dfd9d5;

	--c-on-bg: black;
	--c-on-bg-dimmed-1: #1a1a1a;
	--c-on-bg-dimmed-2: #3a3d3f;
	--c-on-bg-dimmed-3: #656a6d;
	--c-on-bg-error: #b82525;

	/* Primary */
	--c-primary: black;
	--c-primary-contrast-1: #1a1a1a;

	--c-on-primary: white;

	/* Accent */
	--c-accent: rgb(183, 95, 11);
	--c-accent-contrast-1: rgb(173, 83, 14);
	--c-accent-contrast-2: rgb(116, 54, 7);

	--c-on-accent: white;

	/* UI options */
	--border-color: #bfbfd0;
	--border-width: 1px;
	--roundness: 3px;
	--c-curtain: rgba(0, 0, 0, 0.1);
}
