@import "./themes.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--c-background-text);
  background-color: var(--c-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:active {
  color: var(--c-primary);
}
a:visited {
  color: var(--c-primary-dark);
}
