@import "./fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;

  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

body {
  color: $c-on-main;
  background-color: $c-main-bg;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:active {
  color: $c-accent;
}
a:visited {
  color: $c-accent-dark;
}

.serif {
  font-family: "Noto Serif";
}
