:root {
  --desktop-min-width: 500px;

  --c-background: white;
  --c-background-text: #111;

  --c-primary: #00acc1;
  --c-primary-light: #5ddef4;
  --c-primary-dark: #007c91;
  --c-primary-text: #000000;

  --c-secondary: #e81e62;
  --c-secondary-light: #ff608f;
  --c-secondary-dark: #af0039;
  --c-secondary-text: #000000;
}

[class="theme-dark"] {
  --c-background: #121212;
  --c-background-text: #eee;

  --c-primary: #00acc1;
  --c-primary-light: #5ddef4;
  --c-primary-dark: #007c91;
  --c-primary-text: #000000;

  --c-secondary: #e81e62;
  --c-secondary-light: #ff608f;
  --c-secondary-dark: #af0039;
  --c-secondary-text: #000000;
}
